body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e1f5fe;
    color: #333;
    margin: 0;
    padding: 0px;
    
}
header {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    color: #333;
    justify-content: center;
    display: flex;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #e1f5fe;
    font-size: 14px;
    color: #0277bd;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-left, .icons-right {
    display: flex;
    gap: 10px;
}

.seccionbody{
    padding-bottom: 75px;
}
.plane-icon {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.plane-icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

header h1 {
    font-size: 36px;
    color: #0277bd;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 20px;
    border-bottom: 2px solid #0277bd;
    padding-bottom: 10px;
}




.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.accordion {
    background-color: #ffffff;
    border: 2px solid #01579b;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease, background-color 0.3s ease;
}

.accordion:hover {
    transform: translateY(-5px);
    background-color: #e1f5fe;
}

.accordion-title {
    margin: 0;
    font-size: 22px;
    color: #01579b;
    font-weight: bold;
    text-transform: uppercase;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}


.accordion.active .accordion-content {
    max-height: 400px; /* Ajusta según el contenido */
}

.accordion-content p {
    margin: 0;
    color: #555;
}


.toggle-image {
    max-width: 30%;
    margin-bottom: 30px;
    height: auto;
    transition: max-height 0.6s ease;
    overflow: hidden;
    border: 8px solid #01579b; /* Color del borde alineado con los tonos de la página */
    border-radius: 15px; /* Bordes redondeados para un estilo moderno */
    box-shadow: 0 0 15px rgba(1, 87, 155, 0.3); /* Sombra suave con un tono azul */
}




.button-arrow{
    border: none;
    background-color: transparent;
}



.arrow-icon.close {
    display: none;
}

.arrow-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-icon2.close {
    display: block;
}

.arrow-icon2 {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-icon:hover {
    transform: scale(1.1);
}



#imageContainer {
    max-height: 550px; /* Ajusta según el tamaño de tu imagen */
    overflow: hidden;
    transition: max-height 0.6s ease;
}

#imageContainer.collapsed {
    max-height: 0;
}
